<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="background-color:#D0D3D4;">


<div class="text-center"> 
  <p style="text-align:center;"><img src="static/img/wcImage.png" width="700" height="400"></p>
  
  <h1>About us</h1>
  <p>We at coursify aim to help the students to help select the courses to complete their degree.</p>
  <p> A lot of students feel stressed when deciding the courses. They flip through web pages with the hope of finding some useful information.</p>
  <p> Coursify provides the students with all the information from the web as well as inputs from the senior students.</p>
  <p> Through this coursify aims to alleviate the stress and provide them all the information at one place</p> 
</div>
  

  

</body>
</html>
