<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Web UI Coursify</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-image:url(/static/img/light.jpg)">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header" style="background-image:url(/static/img/light.jpg)">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="display:block; width:1280px;">Coursify</a>
            </div>

                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation" style="background-image:url(/static/img/light.jpg)">
                <div class="sidebar-nav navbar-collapse" style="background-image:url(/static/img/light.jpg)">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>

                        
                        <li>
                            <a href="/form1"><i class="fa fa-table fa-fw"></i>Basic information</a>
                        </li>
                        <li>
                            <a href="/form2"><i class="fa fa-table fa-fw"></i> Prerequisite selection</a>
                        </li>
                        <li>
                            <a href="/form3"><i class="fa fa-table fa-fw"></i>Interests</a>
                        </li>
                        <li>
                            <a href="/dashboard1"><i class="fa fa-bar-chart-o fa-fw"></i>Dashboards<span class="fa "></span></a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i>Plan</a>
                        </li>
                   
        </nav>
         <div id="page-wrapper" id="page-top" class="index" style="background-image:url(/static/img/header.jpg)">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="color:white;">Analysis Charts</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default" id="page-top" class="index" style="background-image:url(/static/img/light.jpg)">
                        <div class="panel-heading" id="page-top" class="index" style="background-image:url(/static/img/light.jpg)">
        
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                   <!-- 
 <form role="form" action="/dashboard1validation" method="post">
                                        <div class="form-group">
                                            <!~~ <label>Select the Course</label> ~~>
                                             <!~~ <div class="col-lg-6"> ~~>
                							<div class="panel panel-default">
                							<div class="panel-heading">
                                            
                                            <label>Select the Course </label>
        									<select class="form-control" name="profcourses">
        									<option selected="true" disabled="disabled">~~Choose one~~</option>
                							<option value="cmpe273">CMPE273</option>
                							<option value="cmpe202">CMPE202</option>
                							<option value="cmpe272">CMPE272</option>
                							<option value="cmpe281">CMPE281</option>
                							<option value="cmpe283">CMPE283</option>
                							</select>
                                     <!~~    </div> ~~>
                                        </div>
                                        </div>
                                        </div>
                                            <!~~ <p class="help-block">Example block-level help text here.</p> ~~>
                                        </div>
                                        <div class="form-group">
                                        <div class="col-lg-6">
                						<div class="panel panel-default">
                						<div class="panel-heading">
                                            <label>Select the Professor </label>
                                            <select class="form-control"  name="professors">
                                            	<option selected="true" disabled="disabled">~~Choose one~~</option>
                                                <option value="Prof Rakesh Ranjan">Prof Rakesh Ranjan</option>
                                                <option value="Prof Sithu Aung">Prof Sithu Aung</option>
                                                <option value="Prof Paul Nguyen">Prof Paul Nguyen</option>
                                                <option value="Prof Jerry Gao">Prof Jerry Gao</option>
                                                <option value="Prof Richard Sinn">Prof Richard Sinn</option>
                                            </select>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        <button style="margin-left:450px;" type="submit" class="btn btn-default">Submit</button><br>
                                        <br>
 -->
                                        		<div class="col-lg-6">
                                        		<div class="panel panel-default">
                                        			<div class="panel-heading">
                                        			 Area Chart Example
                                        			 </div>
                                        		<div class="panel-body">
<!--                                         				<iframe id="if1" width="50%" height="100" style="visibility:visible" src="http://www.w3schools.com"></iframe></div>	  -->
                                        		</div>
                                        	</div>
                                        </div>
                                        	<div class="col-lg-6">
                                        		<div class="panel panel-default">
                                        			<div class="panel-heading">
                                        			 Bar Chart Example
                                        			 </div>
                                        		<div class="panel-body">
                                        				<div id="morris-area-chart"></div>	 
                                        		</div>
                                        	</div>
                                        </div>	
                                        	<div class="col-lg-6">
                                        		<div class="panel panel-default">
                                        			<div class="panel-heading">
                                        			 Line Chart Example
                                        			 </div>
                                        		<div class="panel-body">
                                        				<div id="morris-area-chart"></div>	 
                                        		</div>
                                        	</div>
                                        </div>		 
                                        	<div class="col-lg-6">
                                        		<div class="panel panel-default">
                                        			<div class="panel-heading">
                                        			 Donut Chart Example
                                        			 </div>
                                        		<div class="panel-body">
                                        				<div id="morris-area-chart"></div>	 
                                        		</div>
                                        	</div>
                                        </div>

                                    </form> 

     <!-- 
  <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Analysis Chart</h1>
                </div>
                <!~~ /.col-lg-12 ~~>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Please select the following:
                        </div>
                        </div>
                        </div>
                        </div>   
                <div class="form-group">
                <form role="form" action="/dashboard11validation" method="post">
                <div class="form-group">
                                            <!~~ <label>Select the Course</label> ~~>
                <div class="form-group">
                <div class="col-lg-6">
                <div class="panel panel-default">
                <div class="panel-heading">
                <label>Select the Course </label>
        		<select class="form-control" name="courses">
                <option value="cmpe273">CMPE273</option>
                <option value="cmpe202">CMPE202</option>
                <option value="cmpe272">CMPE272</option>
                <option value="cmpe281">CMPE281</option>
                <option value="cmpe283">CMPE283</option>
                </select>
                </div>
                </div>
                </div>
                <div class="form-group">
                <div class="col-lg-6">
                <div class="panel panel-default">
                <div class="panel-heading">
                <label>Select the Professor </label>
                <select class="form-control" name="professors">
                <option value="Professor Rakesh Ranjan">Prof Rakesh Ranjan</option>
                <option value="Professor Sithu Aung">Prof Sithu Aung</option>
                <option value="Professor Paul Nguyen">Prof Paul Nguyen</option>
                <option value="Professor Kong li">Prof Kong li</option>
                <option value="Professor Jerry Gao">Prof Jerry Gao</option>
                </select>
                </div>
                </div>
                </div>  
                </div>
                <!~~ /.col-lg-12 ~~>
            </div>
           
            <!~~ /.row ~~>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Area Chart Example
                            
                        </div>
                        <!~~ /.panel-heading ~~>
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!~~ /.panel-body ~~>
                    </div>
                    <panel ~~>
                </div>
                <!~~ /.col-lg-6 ~~>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Bar Chart Example
                        </div>
                        <!~~ /.panel-heading ~~>
                        <div class="panel-body">
                            <div id="morris-bar-chart"></div>
                        </div>
                        <!~~ /.panel-body ~~>
                    </div>
                    <!~~ /.panel ~~>
                </div>
                <!~~ /.col-lg-6 ~~>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Line Chart Example
                        </div>
                        <!~~ /.panel-heading ~~>
                        <div class="panel-body">
                            <div id="morris-line-chart"></div>
                        </div>
                        <!~~ /.panel-body ~~>
                    </div>
                    <!~~ /.panel ~~>
                </div>
                <!~~ /.col-lg-6 ~~>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Donut Chart Example
                        </div>
                        <!~~ /.panel-heading ~~>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                        </div>
                        <!~~ /.panel-body ~~>
                    </div>
                    <!~~ /.panel ~~>
                </div>
               
                    </div>
                    <!~~ /.panel ~~>
                </div>
                <!~~ /.col-lg-6 ~~>
            </div>
            <!~~ /.row ~~>
        </div>
        <!~~ /#page-wrapper ~~>

    </div>
    <!~~ /#wrapper ~~>
 -->

    <!-- jQuery -->
     <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

</body>

</html>
