<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Web UI Coursify</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-image:url(/static/img/light.jpg)">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header" style="background-image:url(/static/img/light.jpg)">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="display:block; width:1300px;">Coursify</a>
            </div>

                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation" style="background-image:url(/static/img/light.jpg)">
                <div class="sidebar-nav navbar-collapse" style="background-image:url(/static/img/light.jpg)">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>

                        
                        <li>
                            <a href="/form1"><i class="fa fa-table fa-fw"></i>Basic information</a>
                        </li>
                        <li>
                            <a href="/form2"><i class="fa fa-table fa-fw"></i> Prerequisite selection</a>
                        </li>
                        <li>
                            <a href="/form3"><i class="fa fa-table fa-fw"></i>Interests</a>
                        </li>
                       <!--  <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Dashboards<span class="fa "></span></a>
                        </li> -->
                        <li>
                            <a href="/plan"><i class="fa fa-edit fa-fw"></i>Plan</a>
                        </li>
                   
        </nav>

        <div id="page-wrapper" style="background-image:url(/static/img/header.jpg)">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="color:white;">Basic Information</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default" style="background-image:url(/static/img/light.jpg)">
                        <div class="panel-heading" style="background-image:url(/static/img/light.jpg)">
                            Please fill the following:
                        </div>
                        <div class="panel-body" style="background-image:url(/static/img/light.jpg)">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" action="/form1validation" method="post">
                                        <div class="form-group">
                                            <!-- <label>Select the Course</label> -->
                                            <div class="form-group">
                                            <label>Select the Department </label>
                                            <select class="form-control" name="department">
                                                <option>Software Engineering</option>
                                            </select>
                                        </div>
                                            <!-- <p class="help-block">Example block-level help text here.</p> -->
                                        </div>
                                        <div class="form-group">
                                            <label>Select the Major </label>
                                            <select class="form-control"  name="major">
                                                <option>Cloud computing and virtualization</option>
                                                <option>Software systems Engineering</option>
                                                <!-- <option>Computer Science</option> -->
                                                <option>Enterprise Software Technologies</option>
                                                <option>Networking Software</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Select the Minor </label>
                                            <select class="form-control" name="minor">
                                                <option>Cloud computing and virtualization</option>
                                                <option>Software systems Engineering</option>
                                                <!-- <option>Computer Science</option> -->
                                                <option>Enterprise Software Technologies</option>
                                                <option>Networking Software</option>
                                            </select>
                                        </div>

                                        <!-- <div class="form-group">
                                            <label>Graduation Year</label>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="radio" name="gradYear" value="2016">2016
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="radio" name="gradYear" value="2017">2017
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="radio" name="gradYear" value="2018">2018
                                                </label>
                                            </div>
                                        </div> -->
 

                                        <div class="form-group">
                                            <label>Culminating Experience Interest</label>
                                            <select class="form-control" name="CulminatingExp">
                                                <option>Master Project I and II</option>
                                                <option>Master Thesis I and II</option>

                                            </select>
                                        </div>

                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </form>
      

    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

</body>

</html>
